*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.contenedor{
    width: 500px;
    height: 800px;
    border: 1px solid white;
    margin: 0 auto; /* centra el contenedor */
    overflow: hidden;
    position: relative;
}

.cielo{
    position: absolute;
    left: -200px;
    top: -150px;
    filter: blur(10px);

    animation: cielo 38s 1 forwards;
}
@keyframes cielo{
    from{
        scale: 100%;
        filter: blur(10px);
    }
    to{
        scale: 130%;
        filter: blur(2px);
    }
}

.montaña{
    position: absolute;
    left: -600px;

    animation: montaña 20s 1 forwards;
}
@keyframes montaña{
    from{
        top: 0px;
        scale: 100%;
        filter: blur(5px);
    }
    to{
        top: -30px;
        scale: 105%;  
        filter: blur(0px);      
    }
}
.persona{
    position: absolute;
    width: 800px;
    left: -100px;
    top: 350px;

    animation: persona 20s 1 forwards;
}
@keyframes persona{
    from{
        scale: 80%;
    }
    to{
        scale: 100%;
    }
}

.neblina{
    position: absolute;
    width: 1000px;
    left: -150px;
    top: 400px;

    animation: neblina 30s 1 forwards;
}
@keyframes neblina{
    from{
        left: -150px;
    }
    to{
        left: 200px;
    }
}

.titulo{
    position: absolute;
    top: 120px;
    left: -150px;
    z-index: 10;
    
    animation: titulo1 8s forwards;
}
@keyframes titulo1{
    0%{
        scale: 0.7;
    }
    100%{
        scale: 1;
    }
}

.titulo svg{
    width: 800px;
    height: 800px;
}

svg path{
    fill: transparent;
    stroke: #0a0a0a;
    stroke-width: 12;
    stroke-dasharray: 12000;
    stroke-dashoffset: 12000;

    animation: titulo 6s forwards;
}
@keyframes titulo{
    0%{
        stroke-dashoffset: 12000;
    }
    80%{
        fill: transparent;
    }
    100%{
        fill: #beb9b9;
        stroke-dashoffset: 0;
    }
}

.boton{
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 10px 20px;
    background-color: rgb(230, 107, 144);
    border: none;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
